{% load static %}
<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>How to Create responsive Homepage</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'stylesheets/start.css' %}">
  {% block css %}{% endblock %}
</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo"  style="width: 150px; height: 70px;">
            {% comment %} <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt=""> {% endcomment %}
						<h2>ABOUT MOVIE</h2>
        </div>
<ul class="nav-area">
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Services</a></li>
</ul>
</div>
<div class="welcome-text">
	<a href="{% url 'accounts:login' %}">
		<h1>About <span>MOVIE</span></h1>
		<img style="width: 400px; height: 300px"src="{% static 'img/undraw_movie_night_fldd.svg' %}" alt="">
	</a>
</div>
</header>

</body>
</html>
