@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Pen+Script&display=swap');
* {
	margin: 0;
  padding: 0;
  
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/film.jpg);
  height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
  position: relative;
  }
h1 {
      text-align: center;
      margin-bottom: 2rem;
    }

  .button_margin {
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 24px;
    border-radius: 8px;
    transition-duration: 0.4s;
  }

  .button_margin:hover {
    background-color: #008CBA;
    color: white;
  }

  #toc-content {
    display: none;
  }

  #toc-toggle {
    cursor: pointer;
    color: #000000;
    margin-left: 0.5rem;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
  }

  #toc-toggle:hover {
      background-color: #008CBA;
      color: white;
  }
.my-nav {
  position: fixed;
  padding: 11px 150px;
  width: 100%;
  
  top: 0px;
  z-index: 1;
  background-color: #68696c;
}
.my-container {
  margin-top: 150px;
  border: 2px solid red;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
.my-sub-nav {

}
.recom-button{
  display: block;
  margin: 5px auto;
}
.finish {
  display: none;
}
.start {
  display: none;
}
.accounts-tab > a {
  margin: 5px 10px;
}
.genre-buttons {
  margin-top: 10px;
}
.board-footer {
  padding: 0;
  margin: 0;
}
.my-container {
  margin-bottom: 100px;
}
.writer {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  color: black;
}
.writer-button{
  margin-top: 5px;
  margin-bottom: 10px;
}
.write {
  font-size: 30px;
}